footer.footer
    .footer__nav
        a.footer__link(href='') Home
        a.footer__link(href='') Catagory
        a.footer__link(href='') products
        a.footer__link(href='') Profile
        a.footer__link(href='') Contact
        a.footer__link(href='') Cart
        a.footer__link(href='') Search
        a.footer__link(href='') Credits
    .footer__about
        .footer__about--title
            | CONTACT US
        .footer__about--address
            | sia gerd street , Mazare-e-sharif, Balkh, Afghanistan 
            br
            |         digiStore@gmail.com 
            br
            |         456-456-4512 
            br
            |         Mazar, Afghanistan
            br
            |         2021 &copy; By Nasir Ahmad Moheb
// Glidejs
script(src='/js/glide/glide.min.js')
script.
      new Glide('.hero__glide', {
      type: 'carousel',
      startAt: 0,
      autoplay: 4000,
      hoverpause: true,
      perView: 1,
      animationDuration: 1500,
      animationTimingFunc: 'linear',
    }).mount();

    new Glide('.latest__product--glide', {
      type: 'carousel',
      startAt: 0,
    //-   autoplay: 5000,
      hoverpause: true,
      perView: 4,
      animationDuration: 1000,
      animationTimingFunc: 'linear',
      breakpoints: {
        1024: {
          perView: 3
        },
        768: {
          perView: 2
        },
        600: {
          perView: 1
        }
      }
    }).mount();

    new Glide('.trending__product--glide', {
      type: 'carousel',
      startAt: 0,
      autoplay: 5000,
      hoverpause: true,
      perView: 4,
      animationDuration: 1000,
      animationTimingFunc: 'linear',
      breakpoints: {
        1024: {
          perView: 3
        },
        768: {
          perView: 2
        },
        600: {
          perView: 1
        }
      }
    }).mount(); 
    new Glide('.product__details--glide', {
      type: 'carousel',
      startAt: 0,
      autoplay: 5000,
      hoverpause: true,
      perView: 1,
      animationDuration: 1000,
      animationTimingFunc: 'linear',
    }).mount();

    new Glide('.similar__product--glide', {
      type: 'carousel',
      startAt: 0,
      autoplay: 5000,
      hoverpause: true,
      perView: 4,
      animationDuration: 1000,
      animationTimingFunc: 'linear',
      breakpoints: {
        1024: {
          perView: 3
        },
        768: {
          perView: 2
        },
        600: {
          perView: 1
        }
      }
    }).mount();

// script
script(src='/js/index.js')
script(src='/js/products.js')
// <script src="./js/slider.js"></script>
