footer.footer
    .footer__nav
        a.footer__link(href='') Home
        a.footer__link(href='') Catagory
        a.footer__link(href='') products
        a.footer__link(href='') Profile
        a.footer__link(href='') Contact
        a.footer__link(href='') Cart
        a.footer__link(href='') Search
        a.footer__link(href='') Credits
    .footer__about
        .footer__about--title
            | CONTACT US
        .footer__about--address
            | sia gerd street , Mazare-e-sharif, Balkh, Afghanistan 
            br
            |         digiStore@gmail.com 
            br
            |         456-456-4512 
            br
            |         Mazar, Afghanistan
            br
            |         2021 &copy; By Nasir Ahmad Moheb
