header#header.header
    // Navigation
    .navigation
        .container
            nav.nav
                .nav__hamburger
                    svg
                        use(xlink:href='/images/sprite.svg#icon-menu')
                .nav__logo
                    a.scroll-link(href='/')
                        span Digi
                        | Store
                .nav__menu
                    .nav__menu-top
                        span.nav__catagory
                            span.digi Digi
                            | Store
                        a.close__toggle(href='#')
                            svg
                                use(xlink:href='/images/sprite.svg#icon-cross')
                    ul.nav__list
                        form.search.search_list(action="/search" method="GET")
                            input.search__input.top__search__input(type='text' name="text" placeholder='Search products')
                            button.search__button
                                svg.search__icon
                                    use(xlink:href='/images/sprite.svg#icon-search')
                        li.nav__item
                            a.nav__link.scroll__link(href='/') Home
                        li.nav__item.nav__item--catagory
                            .dropdown
                                a.dropbtn CATEGORY
                                    .dropdown-content
                                        each catagory in catagories
                                            a( href=`/category/${catagory.slug}`)= catagory.name
                        li.nav__item
                            a.nav__link.scroll__link(href='#contact') Contact
                form.search.top__search__form(action="/search" method="GET")
                    input.search__input.top__search__input(type='text' name="text" placeholder='Search products')
                    button.search__button
                        svg.search__icon
<<<<<<< HEAD
                            use(xlink:href='/images/sprite.svg#icon-search')     
=======
                            use(xlink:href='/images/sprite.svg#icon-search')
>>>>>>> 274f55395c5d9762d975659a3b0ebff82b3d3489
                .nav__icons
                    if user 
                        a.icon__item(href='/profile')
                            svg
                                use(xlink:href='/images/sprite.svg#icon-user')
                    else
                        a.icon__item(href='/login')
                            svg
                                use(xlink:href='/images/sprite.svg#icon-user')
                    a.icon__item(href='#')
                        svg
<<<<<<< HEAD
                            use(xlink:href='/images/sprite.svg#icon-shopping-basket')
                        span#cart__total 0
=======
                            use(xlink:href='/images/sprite.svg#icon-user')
                    a.icon__item(href='#')
                        svg
                            use(xlink:href='/images/sprite.svg#icon-shopping-basket')
                        span#cart__total 0
>>>>>>> 274f55395c5d9762d975659a3b0ebff82b3d3489
